.body{
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
}
.our{
    border: 0px;
    height: 20px;
    padding: 10px;
    background: linear-gradient( to right,
        red,
        green ,
        yellow );
    text-align: center;
    text-decoration: underline;    
}
.form{
    border: 2px solid brown;
    background-color: rgb(178, 201, 216);
    text-align: center;
    width: 50%;
    border-radius: 10px;
    margin: 20px;
    margin-left: 350px;
}
.lorem{
    border: 2px solid black;
    background-color: lightgreen;
    border-radius: 10px;
}
.box{
    border: 1px solid green;
    background-color: lightskyblue;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin: 0px;
}
.box2{
    margin-left: 120px;
}
.box3{
    margin-left: 160px;
}
.box4{
    margin-left: 530px;
}
.top{
    border: 0px;
    height: 20px;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient( to right,
        red,
        yellow,
        red
    );
    text-align: center;
    text-decoration: underline red;
}
.middle{
    border: 1px;
    background:radial-gradient(blue,rgb(39, 160, 230),green);
    margin-top: 20px;
    padding: 100px;
}
.box5{
    border: 2px solid brown;
    width: 250px;
    text-align: center;
    text-decoration: underline;
    background-color: yellow;
    color: crimson;
    display: inline-block;
    border-radius: 20px;
}
.box6{
    margin-left: 20px;
}
.box7{
    margin-left: 50px;
}
.box8{
    margin-left: 80px;
}
.box9{
    margin-left: 110px;
}
.grid{
    border: 1px solid black;
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
}
.grid1{
    background-color: red;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    grid-row: 1/2;
    grid-column: 1/5;  
}
.grid2{
    background-color: rgb(96, 187, 6);
    color: white;
    text-align: center;
    grid-row: 2/2;
    grid-column: 1/2;
}
.grid3{
    background-color: lightskyblue;
    color: white;
    grid-row: 2/2;
    grid-column: 2/3;
}
.grid4{
    background-color: blue;
    color: white;
    grid-row: 2/3;
    grid-column: 3/4;
}
.grid5{
    background-color: black;
    color: white;
    grid-row: 2/4;
    grid-column: 4/5;
}
.grid6{
    background-color: sandybrown;
    color: white;
    grid-row: 3/4;
    grid-column: 1/4;
}
.grid7{
    background-color: skyblue;
    color: black;
    text-align: center;
    grid-row: 4/5;
    grid-column: 1/5;
}